<div class="confirmacao-container">
  <div class="card">
    <div class="icone-sucesso">✔</div>
    <h1>Agendamento Confirmado!</h1>
    <p class="mensagem">Agradecemos sua solidariedade.</p>

    <div class="detalhes">
      <h2>Detalhes da sua Doação</h2>
      <ul>
        <li><b>Data:</b> 25 de Julho, 2024</li>
        <li><b>Horário:</b> Entre 14:00 e 16:00</li>
        <li><b>Método:</b> Coleta agendada no seu endereço</li>
        <li><b>Local:</b> Rua das Flores, 123, Bairro Alegria, São Paulo - SP</li>
        <li><b>Itens:</b> 5kg de roupas diversas</li>
        3+
      </ul>
    </div>

    <div class="botoes">
      <button class="gerenciar">Gerenciar Agendamento</button>
      <button class="historico">Ver Histórico</button>
    </div>

    <button class="voltar" routerLink="/doacao">
      ⬅ Voltar ao Painel
    </button>
  </div>
</div>
